.card-benefits {
    box-shadow: 0 0 4px -1px grey;
}

.card-body {
    margin: 2rem 0;
}

.card-img {
    max-width: 40%;
}

.card-title {
    font-size: 1.8rem;
    margin: 2rem 0;
    font-family: 'Caladea';
}

.card-text {
    font-size: 15px;
}