@import '../variables.scss';

body {
    font-family: 'Caladea';
}

.bg-green {
    background-color: $eco-green;
}

.bg-blue {
    background-color: $eco-blue;
}

.section-title {
    font-size: 2.1rem;
    font-family: 'Montserrat';
    font-weight: 600;
}

.section-subtitle {
    font-size: 2rem;
    margin-bottom: 15px;
}